*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main{
    max-width: 370px;
    max-height: 480px;
    padding: 12px;
    background-color: grey;
}
main header{
    background-color: aquamarine;
    width: 100%;
    text-align: center;
    border: 1px solid black;
}
main header h1{
    font-size: 3.5rem;
    padding: 15px;
}
main form{
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main form h2{
    width: 100%;
    text-align: left;
}
main form .erroMensage{
    color: red;
    width: 100%;
    text-align: center;
    padding: 3px;
    font-size: 0.8rem;
}
main form .hidden{
    display: none;
}
main form div{
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    align-items: center;
}
main form div label{
    width: 130px;
    padding: 5px;
    font-size: 1.2rem;
    background-color: cadetblue;
}
main form div input.border,
main form div select.border{
    border: 1px solid red;
}
main form div input::-webkit-outer-spin-button,
main form div input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
main form div input[type=number] {
    -moz-appearance: textfield;
}
main form div input,
main form div select{
    border: none;
    font-size: 1.2rem;
    width: 200px;
    padding: 5px;
    outline: none;
}
main form button,
main .resultado button{
    margin-top: 10px;
    border: none;
    outline: none;
    background-color: white;
    border-radius: 4px;
    padding: 10px;
    width: 200px;
    transition: 0.5s;
}
main form button:hover,
main .resultado button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}
main .resultado{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 10px;
}
main .resultado article{
    font-size: 1.1rem;
    padding: 20px;
}